<!-- inscription_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription réussie</title>
</head>
<body>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="/videotheque">Accueil</a>  <a href="/connexion">Se connecter</a>  <a href="/collection">Collection</a>       
    </div>
    <h1>Inscription réussie</h1>
    <p>Merci, votre inscription a été enregistrée avec succès !</p>
    <p>Nom : {{ nom }}</p>
    <p>Prénom : {{ prenom }}</p>
    <p><a href="/">Retour à la page d'accueil</a></p>
</body>
</html>
